<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>play</title>
    <link rel="stylesheet" href="{%static 'app/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'app/css/style.css'%}" type="text/css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius:4px">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">PDtube</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  {% if user.is_authenticated%}
                      <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/upload">Upload</a>
                      </li>

            </ul>
                    <form class="form-inline my-2 my-lg-0" style="list-style:none">

            <li class="nav-item">
              <h6>{{user.username}}</h6>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger" href="/logout">Logout</a>
            </li>
            </form>
                {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <form class="form-inline my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">login</a>
                        </li>
                    </form>
                {%endif%}
        </div>
    </nav>


</head>
<body>

<div class="container">
     <div class="row">
        <div class="col-lg-8">
            <h2>{{video.title}}</h2>
            <video style="width: 100%; height:auto" controls>
                <source src='{{ MEDIA_URL }}{{ video.file }}' type="video/mp4">
            </video>
           <br>
           <br>

            {% if user.is_authenticated %}
            <div class="container ">
                 <div class="row">
                     <div class="col-lg-8">
                         <h4><b>Comments</b></h4>
                         <hr>
                         <form action="" method="post">
                            {% csrf_token %}
                             <div>
                                 <input type="text" class="form-group" id="comment" name="comment" style="width:300px; height: 100px">
                                 <input type="submit" class="form-group btn btn-success" value="Comment">
                             </div>

                         </form>
                    </div>
                 </div>
            </div>
            {% endif %}
            {% for c in comments %}
                <div class="container">
                     <h5> {{c.comment_user}} </h5>
                     <p> {{c.comment}} </p>
                </div>
            {% endfor %}
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            {%for l in list %}
                <div>
                    <video style="width:100%; height:200px">
                        <source src="{{ MEDIA_URL }}{{ l.file }}"  type="video/mp4">
                    </video>
                    <a href="{% url 'play' l.id %}" style="color:black"><h3>{{l.title}}</h3></a>
                </div>
            <br>
            {%endfor%}
        </div>
    </div>
</div>




<script src="{% static 'app/js/jquery.js'%}"></script>
<script src="{% static 'app/js/popper.js'%}"></script>
<script src="{% static 'app/js/bootstrap.min.js'%}"></script>
<script src="{% static 'app/js/jquery5.1.js'%}"></script>

</body>
</html>